<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="spot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="arm0.sh0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.sh0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.sh1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.sh1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.el0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.el0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.el1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.el1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.wr0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.wr0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.wr1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.wr1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm0.f1x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm0.f1x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
